body {
   background-color: grey; 
   color: white; 
}

header {
   background-color: #000000; 
   border: 1px solid black; 
   border-radius: 10px; 
}

header, h1, h2{
   text-align: center; 
   color: #00ff00; 
}

footer {
   position: fixed; 
   bottom: 0;
   left: 0;
   width:100%;
   background-color: #000000;
   color: #00ff00;
   border: 1px solid black; 
   border-radius: 10px;
   z-index:10; 
}

p {
   padding: 10px;
}
