body {
   background-color: grey; 
   color: white; 
}

header {
   background-color: #000000; 
   border: 1px solid #000000; 
   border-radius: 10px; 
}

header, h1, h2{
   text-align: center; 
   color: #00ff00; 
   padding: 0; 
}

footer {
   position: fixed; 
   bottom: 0;
   left: 0; 
   background-color: #000000;
   color: #00ff00;
   border: 1px solid #000000; 
   border-radius: 10px;
   margin: 5px;
   width: 90%; 
}

p {
   padding: 10px;
}
