body {
   background-color: grey; 
   color: white; 
}

header {
   background-color: #000000; 
   border: 1px solid black; 
   border-radius: 10px; 
}

header, h1, h2{
   text-align: center; 
   color: #00ff00; 
}

footer {
   position: absolute;
   background-color: #000000;
   color: #00ff00;
   border: 1px solid black; 
   border-radius: 10px;
   bottom: auto; // should place footer at bottom of page.
}

p {
   padding: 10px;
}
